<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.issbase">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.iss.loghandler.ErrorHandler" android:process=":myexeptionprocess"
            android:taskAffinity="system.ErrorHandler">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="@string/error_mime_type" />
            </intent-filter>
        </activity>

        <service android:name="com.iss.service.PushServiceMode"
            android:process=":itotemService"
            android:label="itotem后台服务">
        </service>

        <receiver android:name="com.iss.service.BootReceiver">
            <intent-filter>
                <!-- 系统启动完成后会调用-->
                <action android:name="android.intent.action.BOOT_COMPLETED">
                </action>
            </intent-filter>
        </receiver>

        <meta-data android:name="SZICITY_APPKEY" android:value="3clhitctfu6k"/>
        <meta-data android:name="SZICITY_CHANNEL" android:value="CHANNEL108"/>

    </application>

</manifest>
